@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-family: '娃娃體-繁';
}

header {
  background-image: url(img/first.png);
  height: 935px;
  width: 1440px;
}

header nav ul {
  text-align: right;
  margin-right: 40px;
}

header nav ul li {
  display: inline-block;
  margin: 50px 20px 0 0;
}

header nav ul li a {
  text-decoration: none;
  color: black;
  font-size: 22px;
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
  -webkit-transition-property: width;
  transition-property: width;
  -webkit-transition-timing-function: ease;
          transition-timing-function: ease;
  -webkit-transition-delay: 2s;
          transition-delay: 2s;
}

header nav ul li a:hover {
  text-decoration: none;
  color: orange;
}

header h1 {
  text-align: center;
  margin-top: 140px;
  font-size: 130px;
  color: #ecb76f;
  text-shadow: 4px 3px 2px #d4924b;
}

header h4 {
  text-align: center;
  margin-top: 30px;
  font-size: 30px;
  color: #d4924b;
}

#p1 {
  width: 1440px;
  height: 740px;
  background-color: #cbf5ff;
}

#p1 #bbb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 1100px;
  margin: 0 auto;
}

#p1 #bbb .ccc {
  margin-top: 210px;
}

#p1 #bbb .ccc p {
  font-size: 27px;
  line-height: 2;
  width: 500px;
  height: 300px;
  color: black;
  padding-top: 75px;
}

#p1 #bbb .ccc img {
  width: 500px;
}

#p2 {
  width: 1440px;
  height: 740px;
  background-color: #effdff;
}

#p2 #eee {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 1100px;
  margin: 0 auto;
}

#p2 #eee .fff {
  padding-top: 210px;
}

#p2 #eee .fff p {
  font-size: 27px;
  line-height: 2;
  width: 500px;
  height: 300px;
  color: black;
  padding-top: 50px;
}

#p2 #eee .fff img {
  width: 500px;
}

#p3 {
  width: 1440px;
  height: 740px;
  background-image: url(img/second.jpg);
}

#p4 {
  height: 1100px;
  background-color: #cbf5ff;
}

#p4 h1 {
  display: block;
  margin: 0 auto;
  text-align: center;
  padding-top: 100px;
  font-size: 40px;
  width: 300px;
}

#p4 p {
  display: block;
  margin: 0 auto;
  text-align: center;
  margin-top: 50px;
}

#p4 #lll {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 1100px;
  margin: 100px auto 0 auto;
}

#p4 #lll .mmm {
  height: 300px;
  width: 300px;
}

#p4 #lll .mmm h3 {
  text-align: center;
  padding-top: 6px;
  font-size: 25px;
  width: 250px;
  height: 40px;
}

#p4 #lll .mmm p {
  margin-top: 20px;
  text-align: left;
  margin-left: 48px;
  width: 210px;
}

#p4 #lll .mmm:before {
  content: "";
  display: block;
  background: url("img/03.png") no-repeat;
  width: 40px;
  height: 40px;
  float: left;
  background-size: 100%;
}

#p5 {
  height: 740px;
  background-image: url(img/2.jpg);
}

#p5 h1 {
  display: block;
  margin: 0 auto;
  text-align: center;
  padding-top: 100px;
  font-size: 40px;
}

#p5 p {
  display: block;
  margin: 0 auto;
  text-align: center;
  margin-top: 50px;
}

#p5 #ppp {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 15px;
  width: 1300px;
  margin: 100px auto 0 auto;
}

#p5 #ppp a {
  text-align: center;
}

#p5 #ppp a:link {
  text-decoration: none;
  color: black;
}

#p5 #ppp a:visited {
  color: black;
}

#p5 #ppp .qqq {
  height: 300px;
}

#p5 #ppp .qqq img {
  width: 70%;
  display: block;
  margin: 0 auto;
}

#p5 #ppp .qqq .rrr h3 {
  margin-top: 20px;
}

#p5 #ppp .qqq .rrr p {
  text-align: center;
  margin-top: 10px;
  font-size: 16px;
}

.top {
  position: fixed;
  bottom: 11%;
  right: 3%;
}

footer {
  height: 70px;
  text-align: center;
  line-height: 1.5;
  padding-top: 30px;
  font-size: 18px;
  background-color: #4797b1;
}
/*# sourceMappingURL=style.css.map */