* {
  border: 0px solid black;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

header {
  background-image: url(img/first.png);
  height: 935px;
  width: 1440px;
}

header nav ul {
  text-align: right;
}

header nav ul li {
  display: inline-block;
  margin: 50px 40px 0 0;
}

header nav ul li a {
  text-decoration: none;
  color: black;
  font-size: 20px;
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
  -webkit-transition-property: width;
  transition-property: width;
  -webkit-transition-timing-function: ease;
          transition-timing-function: ease;
  -webkit-transition-delay: 2s;
          transition-delay: 2s;
}

header nav ul li a:hover {
  text-decoration: none;
  color: orange;
  font-size: 20px;
}

#p1 {
  width: 1440px;
  height: 740px;
  background-color: #cbf5ff;
}

#p1 #bbb {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  grid-gap: 95px;
  width: 1100px;
  margin: 0 auto;
}

#p1 #bbb .ccc {
  padding-top: 210px;
}

#p1 #bbb .ccc p {
  font-size: 20px;
  line-height: 2;
  width: 500px;
  height: 300px;
  color: black;
  padding-top: 100px;
}

#p1 #bbb .ccc img {
  width: 500px;
}

#p2 {
  width: 1440px;
  height: 740px;
  background-color: #effdff;
}

#p2 #eee {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  grid-gap: 95px;
  width: 1100px;
  margin: 0 auto;
}

#p2 #eee .fff {
  padding-top: 210px;
}

#p2 #eee .fff p {
  font-size: 20px;
  width: 500px;
  height: 300px;
  color: black;
  padding-top: 100px;
  line-height: 2;
}

#p2 #eee .fff img {
  width: 500px;
}

#p3 {
  width: 1440px;
  height: 740px;
  background-color: #cbf5ff;
}

#p4 {
  height: 740px;
  background-image: url(img/second.jpg);
}

#p4 h1 {
  display: block;
  margin: 0 auto;
  text-align: center;
  padding-top: 100px;
  font-size: 40px;
  width: 300px;
}

#p4 h1 img {
  width: 40px;
}

#p4 p {
  display: block;
  margin: 0 auto;
  text-align: center;
  margin-top: 50px;
}

#p4 #lll {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 95px;
  width: 1100px;
  margin: 100px auto 0 auto;
}

#p4 #lll .mmm {
  height: 300px;
}

#p4 #lll .mmm h3 {
  margin-top: 30px;
  text-align: center;
}

#p4 #lll .mmm p {
  margin-top: 30px;
}

#p5 {
  height: 740px;
  background-image: url(2.jpg);
}

#p5 h1 {
  display: block;
  margin: 0 auto;
  text-align: center;
  padding-top: 100px;
  font-size: 40px;
}

#p5 p {
  display: block;
  margin: 0 auto;
  text-align: center;
  margin-top: 50px;
}

#p5 #ppp {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 15px;
  width: 1300px;
  margin: 100px auto 0 auto;
}

#p5 #ppp a {
  text-align: center;
}

#p5 #ppp a:link {
  text-decoration: none;
  color: black;
}

#p5 #ppp a:visited {
  color: black;
}

#p5 #ppp .qqq {
  height: 300px;
}

#p5 #ppp .qqq img {
  width: 70%;
  display: block;
  margin: 0 auto;
}

#p5 #ppp .qqq .rrr h3 {
  margin-top: 20px;
}

#p5 #ppp .qqq .rrr p {
  text-align: center;
  margin-top: 10px;
  font-size: 16px;
}

.top {
  position: fixed;
  bottom: 11%;
  right: 3%;
}

footer {
  height: 70px;
  text-align: center;
  line-height: 1.5;
  padding-top: 30px;
  font-size: 18px;
  background-color: #4797b1;
}
/*# sourceMappingURL=style.css.map */