*{
    // border: 1px solid black;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-family: '娃娃體-繁';
    cursor : url(img/ml.png), pointer;
}


// 頁首
header{
    background-image: url(img/bg/first.png);
    height: 935px;
    width: 1440px;
    nav{
        ul{
            text-align: right;
            margin-right: 40px;
            // margin-top: 20px;
            li{
                display: inline-block;
                margin: 50px 20px 0 0;
                a{
                    text-decoration: none;
                    color: black;
                    font-size: 22px;
                    transition-duration: 1s;
                    transition-property:width;
                    transition-timing-function: ease;
                    transition-delay: 2s;
                }
                a:hover{
                    text-decoration: none;
                    color: orange;
                    cursor : url(img/ch.png), pointer;
                }
            }
        }
    }
    h1{
        // border: 1px solid black;
        text-align: center;
        margin-top: 140px;
        font-size: 130px;
        color: #ecb76f;
        text-shadow:4px 3px 2px #d4924b;

    }
    h4{
        text-align: center;
        margin-top: 30px;
        font-size: 30px;
        color: #d4924b;
    }
}
// 動機
#p1{
    width: 1440px;
    height: 740px;
    background-color: #cbf5ff;
    #bbb{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 1100px;
        margin: 0 auto;
        .ccc{
            margin-top: 210px;
            p{
                font-size: 27px;
                line-height: 2;
                width: 500px;
                height: 300px;
                color: black;
                padding-top: 75px;
            }
            img{
                width: 500px;
                border-radius: 10px;
            }
        }
    }
}

// 理念
#p2{
    width: 1440px;
    height: 740px;
    background-color: #effdff;
    #eee{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 1100px;
        margin: 0 auto;
        .fff{
            padding-top: 210px;
            p{
                font-size: 27px;
                line-height: 2;
                width: 500px;
                height: 300px;
                color: black;
                padding-top: 50px;
            }
            img{
                width: 500px;
                border-radius: 10px;
            }
        }
    }
}

// 繪本與週邊
#p3{
    width: 1440px;
    height: 1100px;
    padding-top: 90px;
    background-color: #effdff;
    
    h1{
        display: block;
        margin: 0 auto 30px auto;
        text-align: center;
        font-size: 40px;
        font-size: 60px;
     }
    .coco{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        width: 900px;
        margin: 100px auto 0 auto;
        .card{
            margin:0 0 60px 30px;
            padding: 0;
        }
    }
    
}

// 角色介紹
#p4{
    width: 1440px;
    height: 1100px;
    // background-image: url(img/bg/second.jpg);
     background-color:#cbf5ff;
     padding-top: 90px;
     h1{
        display: block;
        margin: 0 auto 30px auto;
        text-align: center;
        font-size: 40px;
        font-size: 60px;
     }
     #tomy{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        width: 1200px;
        margin: 100px auto 0 auto;
        .card{
            margin:0 0 60px 30px;
            padding: 0;
            
            h2{
                font-size: 25px;
            }
            p{
                font-size: 17px;
            }
        }
    }
}

// 相關連結
#p5{
    width: 1440px;
    height: 740px;
    background-image: url(img/bg/2.jpg);
    h1{
        display: block;
        margin: 0 auto;
        text-align: center;
        padding-top: 100px;
        font-size: 60px;
    }
    p{
        display: block;
        margin: 0 auto;
        text-align: center;
        margin-top: 50px;
    }
    #ppp{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        grid-gap:15px;
        width: 1300px;
        margin: 100px auto 0 auto;
        a{
            text-align: center;
        }
        a:link{
            text-decoration: none;
            color: black;
        }
        a:visited{
            color: black;
        }
        .qqq{
            height: 300px;
            img{
                width: 70%;
                display: block;
                margin: 0 auto;
                border-radius: 10px;
            }
            img:hover{
                cursor : url(img/ch.png), pointer;
            }
            .rrr{
                
                h3{
                    margin-top: 20px;
                }

                p{
                    text-align: center;
                    margin-top: 10px;
                    font-size: 16px;
                }

            }
        }
    }
}

.top{
    position: fixed;
    bottom: 11%;
    right: 3%;

}

.top{
    position: fixed;
    bottom: 11%;
    right: 3%;

}

footer{
    height: 100px;
    width: 1440px;
    text-align: center;
    line-height: 1.5;
    padding-top: 30px;
    font-size: 18px;
    background-color: #4797b1;
}